.ip-results{
    background: white;
    color: black;
    padding: 1em 1em;
border-radius: 5px;
box-shadow: 2px 2px 5px #3c3c3c;
position: absolute;
z-index: 9999;
margin: -2em 0em 2em;
}

.ip-results div {
    line-height: 1em;
    margin: 0.3em;
}

h5{
    color: gray;
    margin:0px;
    font-size: 0.7em;
    margin: 0.8em;
    text-transform: uppercase;
}

p{
    margin:0px;
    margin-bottom:1em;
    font-weight: 700;
    font-size: 0.9em;
    color: #1f1f1f;
}

.leaflet-container{
    height: 100vh;
    display: block;
}

#mapid { height: 180px; }

.ip-results-wrapper{
    display: flex;
    justify-content: center;

}

.data-wrapper{
    display: block;
    max-width: 27em;
}

@media only screen and (min-width:768px){
    p{
        font-size: 0.6em;
    }

    .data-wrapper{
        display: flex;
        max-width: 27em;
    }
}