body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: contain;
  background-image: url("images/pattern-bg.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App-header{
  background-repeat: no-repeat;
  min-height: 26vh;
  font-size: calc(6px + 2vmin);
  color: white;
  background-size: contain;
  background-image: url("images/pattern-bg.png");
}
